<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавь пользователя</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
<div id="app">
  <h1>Добавь пользователя</h1>
  <div v-for="(user, index) in users">
    <input v-model="user.name">
    <input v-model="user.email">
    <button @click="deleteUser(index)">
      Удалить
    </button>
  </div>
  
  <button @click="addUser" class="addUser">
    Новый пользователь
  </button>
  
  <pre>{{ $data }}</pre>
</div>
<script src="./main.js"></script>
</body>
</html>